<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CrudApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdn.tiny.cloud/1/ijafnuedjctwgc80igjldqn9mv21satcousx389wymteifxc/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <div class="admin_container">
        <nav>
            <div>
				<strong>Panel administracyjny</strong>
			</div>
            <a href="/Admin">
                Homepage
            </a>
            <a href="/Admin/Article">
                Articles
            </a>
            <a href="/Admin/Library">
                Media Library
            </a>
            <a href="/Admin/Category">
                Categories
            </a>
            <a href="/Admin/Member">
                Users
            </a>
        </nav>
        <main>
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery-3.6.3.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
