@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400;500;600&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif !important;
}
body{
  margin: 0;
  font-weight: 400;
  background-color: #efefef;
}
a{
  color: #fff;
  text-decoration: none;
}
h1{
	font-weight: 500;
}
nav a{
  display: grid;
  border-bottom: 1px solid #fff;
  color: #fff;
  align-content: center;
  text-decoration: none;
  font-size: 1.25rem;
  padding-left: 2rem;
  font-weight: 400;
}
.btn_wide{
  display: block;
  width: 100%;
  background-color: #007fff;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
}

footer {
	height: 100px;
	background-color: #404040;
	color: #fff;
	background-size: cover;
	background-position: center 45%;
	display: grid;
	align-content: center;
	padding: 0 4rem;
	grid-template-columns: repeat(2, max-content);
	justify-content: space-between;
	border-top: 2px solid #f8c201;
}

footer a img {
	width: 150px;
	display: block;
}

.list_item {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: 50px;
	grid-column-gap: 2rem;
}

.list_item p:first-of-type {
	grid-row: span 2
}

.admin_container {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-column-gap: 0;
}

nav {
	background-color: #2f4050;
	color: #fff;
	display: grid;
	min-height: 100vh;
	grid-template-rows: 100px;
	grid-auto-rows: 70px;
}

nav a {
	display: grid;
	color: #fff;
	align-content: center;
	text-decoration: none;
	font-size: 1.25rem;
	padding-left: 2rem;
	font-weight: 500;
	text-transform: uppercase;
}
nav a:hover{
	color: #fff;
	text-decoration: none;
	background-color: #1E3040;
}

main {
	width: 100%;
	padding: 0;
	background-color: #efefef;
}

header {
	height: 100px;
	width: 100%;
	background-color: #fff;
	color: #181818;
	padding: 2rem;
  	align-items: center;
	display: flex;
	justify-content: space-between;
}

.tox-tinymce {
	min-height: 500px;
}

form {
	display: grid;
	grid-gap: 2rem;
	padding: 2rem;
}

input[type="text"], select{
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 1rem;
	height: 60px;
	border-radius: 5px;
}
input[type="text"]{
	font-size: 1.5rem;
}
select{
	font-size: 16px;
}
.btn_wide {
	display: block;
	width: 100%;
	background-color: #007fff;
	color: #fff;
	font-weight: 600;
	padding: 1rem;
}

nav div {
	background-color: #233645;
	display: grid;
	align-content: center;
	align-items: center;
	grid-auto-rows: max-content;
	grid-gap: .5rem;
	padding-left: 2rem;
	text-transform: uppercase;
}
._btn, .admin_list_actions a{
	background-color: #233645;
	color: #fff;
	padding: .75rem 1rem;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	font-size: 14px;
	border: unset;
}
input[type="submit"]._btn{
	font-size: 18px;
	letter-spacing: 1px;
	cursor: pointer;
}
select{
	padding: 1rem;
}
.adminForm{
	display: grid;
	grid-template-columns: 80% 1fr;
	padding: 2rem;
}
.form_left, .form_right{
	display: grid;
	grid-auto-rows: max-content;
	grid-gap: 2rem;
}
.libraryBtn{
	background-color: #fff;
	border: unset;
	padding: 1rem;
	margin: 0;
	text-transform: uppercase;
	border: 1px solid #ccc;
	font-weight: 500;
	border-radius: 5px;
}
nav strong{
	font-size: 18px;
}
strong{
	font-weight: 500;
}
.pictureLibrary{
	display: grid;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	background-color: #0007;
	grid-template-columns: 85%;
	justify-content: center;
	align-items: center;
}
.hidden{
	display: none;
}
._library_header{
	background-color: #303030;
	color: #fff;
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: space-between;
}
._library_close{
	width: 100px;
	height: 100%;
	background-color: #aa0000;
	font-size: 2rem;
	font-weight: 600;
	display: grid;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	text-align: center;
}
h2{
	margin: 0;
	padding: 2rem;
	font-weight: 500;
}
._library_container{
	z-index: 1001;
	background-color: #fff;
	height: 85vh;
	display: grid;
	grid-template-rows: max-content 1fr;
}
._library_container img{
	width: 100%;
}
._library_content{
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	overflow-y: scroll;
	height: 100%;
	padding: 2rem;
	grid-gap: 2rem;
}
.media-library-img, .admin_image_grid_tile img{
	max-height: 200px;
	object-fit: contain;
	object-position: center;
	max-width: 200px;
	z-index: 1002;
	border: 5px solid #fff;
}
.selected, .selectedThumbnail{
	border: 5px solid #007fff;
}
.admin_list_header{
	background-color: #303030;
	height: 70px;
}
.admin_list_tile{
	height: 70px;
	background-color: #fff;
	color: #303030;
	display: grid;
	grid-template-columns: 1fr max-content;
	border-bottom: 1px solid #ccc;
}
.admin_list_tile_properties, .admin_list_header{
	display: grid;
	grid-template-columns: 500px repeat(auto-fill, 200px);
	align-items: center;
	padding-left: 2rem;
}
.admin_list_actions{
	display: grid;
	grid-template-columns: repeat(2, max-content);
	grid-gap: 1rem;
	grid-auto-rows: max-content;
	align-content: center;
	height: 100%;
	padding-right: 2rem;
}