@model Crud.Shared.Pictures.Commands.CreatePicturesCommand

<h1>Add pictures to library</h1>
<form enctype="multipart/form-data" method="post">
    <label>Pictures to uploads</label>
    <input type="file" name="filenames" multiple>
    <input type="submit">
</form>