@model Tuple<int, string>
@{
    AdminHeaderModel headerModel = new("Add pictures to Media Library", 
    new(){new("/Admin/Library","Go back to Media Library")});
}
<partial name="_AdminHeaderPartial" model="@headerModel">

<form enctype="multipart/form-data" method="post">
    <input type="hidden" name="id" value="@Model.Item1">
    <img src="@Model.Item2">
    <input type="submit" value="Delete this picture">
</form>